.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.divStyle {
  border: solid;
  padding: 2% 10% 5% 10%;
  margin: 5%;
}

.error-placeholder {
    text-align: left;
    color: red;
    font-size: x-small;
    /* margin: 10px; */
}

placeholder {
  font-size: small;
}

td {
  text-align: left;
  padding: 5px;
}

.labeltext {
  font-size: small;
}

.formheader {
  font-size: xx-large;
  color: darkblue;
  text-align: center;
}
